
body, #menu-area{
	background-color: #686868;
}

.header-panel, #display-gifs {
	background-color: #000;
	font-family: 'Shrikhand', cursive;
	text-align: center;
	color: #fff;
}

label {
	color: #fff;
}
